* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.header .navbar-dans {
  padding: 16px 0px;
}

.header .navbar-dans .navbar-brand img {
  width: 120px;
}

.header .navbar-nav .nav-link {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-left: 30px;
}

.header .navbar-nav .active {
  color: #4B32CC !important;
}

.main-content .hero {
  padding-top: 100px;
}

.main-content .hero .title {
  font-family: "Montserrat", sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
  line-height: 3.2rem;
}

.main-content .hero .title .name {
  color: #4B32CC;
}

.main-content .hero .btn-contact {
  background-color: #4B32CC;
  padding: 14px 32px;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.main-content .hero .hero-image {
  padding-left: 80px;
}

.main-content .hero .hero-image img {
  width: 400px;
}

.main-content .hero .social .social-link i {
  padding-top: 40px;
  color: #000000;
}

.main-content .hero .social .social-link i:hover {
  color: #4B32CC;
}

.main-content .about {
  padding-top: 180px;
}

.main-content .about .about-content {
  padding-top: 60px;
}

.main-content .about .about-content img {
  width: 340px;
}

.main-content .about .about-content p {
  padding-top: 10px;
  line-height: 2rem;
}

.main-content .skills {
  padding-top: 140px;
}

.main-content .skills .skills-content {
  padding-top: 60px;
}

.main-content .skills .skills-content h3 {
  padding-bottom: 10px;
}

.main-content .skills .skills-content img {
  border-radius: 10px;
  margin-left: 50px;
}

.main-content .skills .skills-content .skill-percentage {
  padding-top: 10px;
}

.main-content .skills .skills-content .skill-percentage .progress-bar {
  background-color: #4B32CC;
}

.main-content .skills .skills-content .skill-percentage .typescript {
  padding-bottom: 20px;
  font-weight: 600;
}

.main-content .skills .skills-content .skill-percentage .angular {
  padding-bottom: 20px;
  font-weight: 600;
}

.main-content .skills .skills-content .skill-percentage .htmlcss {
  padding-bottom: 20px;
  font-weight: 600;
}

.main-content .skills .skills-content .skill-percentage .ux {
  font-weight: 600;
}

.main-content .work {
  padding-top: 140px;
}

.main-content .work .work-content {
  padding-top: 60px;
}

.main-content .work .work-content img {
  border-radius: 10px;
}

.main-content .contact {
  padding-top: 140px;
}

.main-content .contact .contact-content {
  padding-top: 60px;
}

.main-content .contact .contact-content form .form-control {
  border: 2px solid;
  color: #c4c4c4;
}

.main-content .contact .contact-content form .btn-submit {
  border: none;
  padding: 8px 28px;
  border-radius: 4px;
  background-color: #4B32CC;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  float: right;
}

.footer {
  margin-top: 100px;
  background-color: #000000;
}

.footer h2 {
  padding-top: 60px;
  color: #ffffff;
}

.footer .social-link {
  color: #4B32CC;
}

.footer .footer-credit {
  color: #c4c4c4;
  font-weight: 300;
  font-size: 14px;
}

@media only screen and (max-width: 700px) {
  .header .navbar {
    width: 100%;
  }
  .main-content .hero .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-content .hero .container .row .col-lg-6 .hero-image img {
    width: 90%;
    display: block;
    margin-left: -30px;
    margin-top: -60px;
  }
  .main-content .hero .container .row .hero-data h1 {
    font-size: 22px;
    line-height: 2rem;
    margin-top: -20px;
  }
}
/*# sourceMappingURL=main.css.map */