$purple: #4B32CC;
$black: #000000;
$grey: #c4c4c4;
$white: #ffffff;

$monts-regular: 400;
$monts-medium: 500;
$monts-semi-bold: 600;
$monts-bold: 700;

$rale-light: 300;
$rale-regular: 400;
$rale-medium: 500;
$rale-semi-bold: 600;

$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $raleway;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
  font-weight: $monts-semi-bold;
}

// HEADER
.header {
  .navbar-dans {
    padding: 16px 0px;
    .navbar-brand {
      img {
        width: 120px;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      color: $black;
      font-family: $montserrat;
      font-weight: $monts-semi-bold;
      padding-left: 30px;
    }
    .active {
      color: $purple !important;
    }
  }
}

// CONTENT
.main-content {
  .hero {
    padding-top: 100px;
    .title {
      font-family: $montserrat;
      padding-top: 60px;
      padding-bottom: 40px;
      line-height: 3.2rem;
      .name {
        color: $purple;
      }
    }
    .btn-contact {
      background-color: $purple;
      padding: 14px 32px;
      border-radius: 6px;
      color: $white;
      text-decoration: none;
      font-weight: $monts-semi-bold;
      letter-spacing: 0.1rem;
    }
    .hero-image {
      padding-left: 80px;
      img {
        width: 400px;
      }
    }
    .social {
      .social-link {
        i {
          padding-top: 40px;
          color: $black;
        }
        i:hover {
          color: $purple;
        }
      }
    }
  }

  .about {
    padding-top: 180px;
  }
}