$purple: #4B32CC;
$black: #000000;
$grey: #c4c4c4;
$white: #ffffff;

$monts-regular: 400;
$monts-medium: 500;
$monts-semi-bold: 600;
$monts-bold: 700;

$rale-light: 300;
$rale-regular: 400;
$rale-medium: 500;
$rale-semi-bold: 600;

$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $raleway;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
  font-weight: $monts-semi-bold;
}

// HEADER
.header {
  .navbar-dans {
    padding: 16px 0px;
    .navbar-brand {
      img {
        width: 120px;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      color: $black;
      font-family: $montserrat;
      font-weight: $monts-semi-bold;
      padding-left: 30px;
    }
    .active {
      color: $purple !important;
    }
  }
}

// CONTENT
.main-content {
  .hero {
    padding-top: 100px;
    .title {
      font-family: $montserrat;
      padding-top: 60px;
      padding-bottom: 40px;
      line-height: 3.2rem;
      .name {
        color: $purple;
      }
    }
    .btn-contact {
      background-color: $purple;
      padding: 14px 32px;
      border-radius: 6px;
      color: $white;
      text-decoration: none;
      font-weight: $monts-semi-bold;
      letter-spacing: 0.1rem;
    }
    .hero-image {
      padding-left: 80px;
      img {
        width: 400px;
      }
    }
    .social {
      .social-link {
        i {
          padding-top: 40px;
          color: $black;
        }
        i:hover {
          color: $purple;
        }
      }
    }
  }

  .about {
    padding-top: 180px;
    .about-content {
      padding-top: 60px;
      img {
        width: 340px;
      }
      p {
        padding-top: 10px;
        line-height: 2rem;
      }
    }
  }

  .skills {
    padding-top: 140px;
    .skills-content {
      padding-top: 60px;
      h3 {
        padding-bottom: 10px;
      }
      img {
        border-radius: 10px;
        margin-left: 50px;
      }
      .skill-percentage {
        padding-top: 10px;
        .progress-bar {
          background-color: $purple;
        }
        .typescript {
          padding-bottom: 20px;
          font-weight: $rale-semi-bold;
        }
        .angular {
          padding-bottom: 20px;
          font-weight: $rale-semi-bold;
        }
        .htmlcss {
          padding-bottom: 20px;
          font-weight: $rale-semi-bold;
        }
        .ux {
          font-weight: $rale-semi-bold;
        }
      }
    }
  }

  .work {
    padding-top: 140px;
    .work-content {
      padding-top: 60px;
      img {
        border-radius: 10px;
      }
    }
  }

  .contact {
    padding-top: 140px;
    .contact-content {
      padding-top: 60px;
      form {
        .form-control {
          border: 2px solid;
          color: $grey;
        }
        .btn-submit {
          border: none;
          padding: 8px 28px;
          border-radius: 4px;
          background-color: $purple;
          color: $white;
          font-family: $montserrat;
          font-weight: $monts-semi-bold;
          letter-spacing: 0.1rem;
          float: right;
        }
      }
    }
  }
}

.footer {
  margin-top: 100px;
  background-color: $black;
  h2 {
    padding-top: 60px;
    color: $white;
  }
  .social-link {
    color: $purple;
  }
  .footer-credit {
    color: $grey;
    font-weight: $rale-light;
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .header .navbar {
    width: 100%;
  }

  .main-content .hero .container .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-content .hero .container .row .col-lg-6 .hero-image img {
    width: 90%;
    display: block;
    margin-left: -30px;
    margin-top: -60px;
  }

  .main-content .hero .container .row .hero-data h1 {
    font-size: 22px;
    line-height: 2rem;
    margin-top: -20px;
  }
}